/* Global Styles */
body {
  font-family: 'Poppins', sans-serif;
  background: url('https://i.imgur.com/r7I7MUC.jpeg') no-repeat center center fixed;
  background-size: cover;
  color: #fff;
  margin: 0;
  padding: 0;
}

h1, h2 {
  text-align: center;
  font-family: 'Pacifico', cursive;
  color: #feb47b;
}

/* Form Styles */
form {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

input, button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.2);
  color: white;
  font-size: 1em;
}

button {
  background: #feb47b;
  cursor: pointer;
  border: none;
}

button:hover {
  background: #ff7e5f;
}

input:focus, button:focus {
  border-color: #feb47b;
}

/* Placeholder text style */
input::placeholder {
  color: #fff;
  opacity: 0.7;
}

/* Links */
a {
  color: #feb47b;
  text-decoration: none;
  padding: 10px;
}

a:hover {
  color: #ff7e5f;
}

/* Message Box in Dashboard */
ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: rgba(255, 255, 255, 0.1);
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
}

.time {
  font-size: 0.8em;
  color: #feb47b;
  text-align: right;
                         }
