* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f7f7f7;
  color: #333;
}

.container {
  width: 90%;
  max-width: 800px;
  margin: 30px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header {
  text-align: center;
  margin-bottom: 20px;
}

header .logo {
  max-width: 200px;
}

h1 {
  color: #333;
  margin-top: 10px;
}

form {
  margin-bottom: 20px;
}

textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  resize: none;
}

button.btn {
  display: block;
  width: 100%;
  padding: 12px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button.btn:hover {
  background-color: #45a049;
}

.social-media {
  margin-top: 20px;
  text-align: center;
}

.social-media .social-btn {
  display: inline-block;
  padding: 12px;
  margin: 5px;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.social-media .fb-btn {
  background-color: #3b5998;
}

.social-media .wa-btn {
  background-color: #25d366;
}

.social-media .tw-btn {
  background-color: #1da1f2;
}

.social-media .ig-btn {
  background-color: #e1306c;
}

footer {
  text-align: center;
  margin-top: 20px;
}

footer .btn {
  background-color: #007BFF;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
}

footer .btn:hover {
  background-color: #0056b3;
  }
